/*****************************
 * FLIPPIN THE MAIN FISH! :D *
 *****************************/
.Mleft{
  position: absolute;
  border-radius:50%;
  top:45%;
  left:45%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.Mright{
  position: absolute;
  border-radius:50%;
  top:45%;
  left:45%;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

/******************************
 * FLIPPIN THE SMALL FISH! :D *
 ******************************/
#o_fish{
  display: none;
}

#o_fish-path{
  fill: white;
}

.Oleft{
  display: inline;
  position:absolute;
  width:25px;
  height:25px;
  border-radius:50%;
  top:45%;
  left:45%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transition: 3s ease-out;
  transition: 3s ease-out;
}

.Oright{
  position:absolute;
  width:25px;
  height:25px;
  border-radius:50%;
  top:45%;
  left:45%;
  -webkit-transition: 3s ease-out;
  transition: 3s ease-out;
}

/***********************************************
 * Everything unrelated to the fish animations *
 ***********************************************/
/* coordinate box */
#coord{
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/* eat count */
#eaten{
  position: absolute;
  right: 50%;
  top: 10px;
}

/* Button 1 */
#FishIt{
  position: absolute;
  right: 50%;
  bottom: 10px;
  color: #3465a4;
  border-radius: 5px;
}

/* hidden */
.hide{
  display: none;
}

/* Prevent scrolling away */
html {
  overflow-y: hidden;
  overflow-x: hidden;
}
body{
  background-color: #A8DBFB;
}

/* Stuff with the slider */
.slidecontainer {
  width: 15%;
  position: absolute;
  bottom: 10px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border: 0;
  background: url('o_fish.png');
  cursor: pointer;
}

/* Close button */
.closeX {
  cursor: pointer;
}

