/* Generic Table stuff */
.vidDiv {
  width: 100%;
  height: 100%;
  margin: 5% auto;
  padding: 0 auto;
  font-size: 16px;
  line-height:2em;
  text-align: center;
}
.spanTitle {
  display: block;
  font-size: 24px;
  font-weight: bold;
}
.taby {
  width: 100%;
  margin: 0px auto;
  border: 0.5px solid rgba(0, 0, 0, 0);
}
.taby th {
  /*border-top: 3px solid #000;
  margin: 0px;*/
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #000;
  width: 100%;
  height: 2em;
  font-size: 36px;
}
.taby td {
  cursor: pointer;
  margin: 0px auto;
  transition: all .35s ease;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  width:  360px;
  height: 100px;
  padding: 12px;
  background-color: rgba(100, 100, 100, .5);
}
.taby td:hover {
  background-color: rgba(200, 200, 200, .5);
  transform: scale(1.05);
}
.taby td:active {
  cursor: pointer;
  background-color: rgba(50, 50, 50, .5);
  border: 3px solid rgba(0, 0, 0, .5);
  transform: scale(0.95);
}

/* Youtube Videos Table */
.taby #yt-btn-td {
  position: relative;
  left:calc(50% - 25vw);
  height: 25px;
}
#YT-btn {
  text-align: center;
  height: 50px;
  padding: 0px;
}
#yt-btn-img {
  display: inline;
  position: relative;
  top: 5px;
  right: 5px;
}
#yt-title {
  display: inline;
}
/* I'm going to leave this out
.taby td:hover #swap1 {
  cursor: url(../img/tree.cur),auto;
}
.taby td:hover #swap2 {
  cursor: url(../img/face.cur),auto;
}
.taby td:hover #swap3 {
  cursor: url(../img/man.cur),auto;
}
.taby td:hover #swap4 {
  cursor: url(../img/bed.cur),auto;
}
.taby td:hover #swap5 {
  cursor: url(../img/corgi-face.cur),auto;
}
.taby td:hover #swap6 {
  cursor: url(../img/pin.cur),auto;
}
*/

/* Contact table */
#c-email{
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../img/email.svg);
}
#c-gh{
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../img/gh.svg);
}
#c-fb{
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../img/fb.svg);
}
#c-gp{
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../img/gp.svg);
}
